#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 16em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #000);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fefefe);
}
